body {
	font-family: "Oswald", sans-serif;
	background-color: rgb(224, 224, 224);
	padding: 20px;
	text-align: center;
}

header {
	color: rgb(95, 139, 155);
	margin: 35px;
}

img {
	margin: 35px;
	height: 516px;
	width: 665px;
	border-radius: 8px;
}

#form {
	text-align: center;
}

h1 {
	font-family: "Oswald", sans-serif;
	font-weight: bold;
	font-size: 40px;
	margin: 20px;
}

p {
	font-family: 'Times New Roman', Arial;
	font-size: 25px;
	padding: 20px;
	margin: 20px;
}

#first-name {
	margin: 20px;
	font-weight: bold;
}

#firstName {
	border: none;
	border-radius: 8px;
    font-weight: bold;
    padding: 18px;
}

#last-name {
	margin: 20px;
	font-weight: bold;
}

#lastName {
	border: none;
	border-radius: 8px;
    font-weight: bold;
    padding: 18px;
}

#e-mail {
	margin: 20px;
	font-weight: bold;
}

#email {
	border: none;
	border-radius: 8px;
    font-weight: bold;
    padding: 18px;
}

#e-sign {
	margin: 20px;
	padding: 10px;
	font-weight: bold;
}

#sign {
	border: none;
	border-radius: 8px;
    font-weight: bold;
    padding: 18px;
	color: white;
    background-color: black;
}

#sign:hover {
    background-color:rgb(64, 64, 64);
}

@media only screen and (min-width: 600px) {
    body {
        padding: 40px;
    }
}

@media only screen and (min-width: 768px) {
    body {
        padding: 60px;
    }
}