body {
	font-family: "Oswald", helvetica;
	background-color: rgb(224, 224, 224);
	padding: auto;
	text-align: center;
}

header {
	color: rgb(95, 139, 155);
	margin: 30px;
}

img {
	margin: 20px;
	height: 516px;
	width: 665px;
	border-radius: 8px;
}

#form {
	text-align: center;
	width: 90%;
}

h1 {
	font-family: "Oswald", helvetica;
	font-weight: bold;
	font-size: 40px;
	margin: 25px;
}

p {
	font-family: 'Times New Roman', Arial;
	font-size: 25px;
	margin: 25px;
}

label {
	display: block;
	margin: 20px;
	font-weight: bold;
	text-align: center;
}

input {
	text-align: center;
	border: none;
	border-radius: 8px;
    font-weight: bold;
    padding: 50px;
} 


#e-sign {
	margin: 20px;
	padding: auto;
	font-weight: bold;
}

#sign {
	border: none;
	border-radius: 8px;
    font-weight: bold;
    padding: 25px;
	color: white;
    background-color: black;
}

#sign:hover {
    background-color:rgb(64, 64, 64);
}

@media only screen and (min-width: 600px) {
	header {
		font-size: 45px;
	}
	
	p {
	  width: 500px;
	}
}

@media only screen and (min-width: 768px) {
	header {
		font-size: 55px;
	}
	
	p {
	  width: 700px;
	  padding: auto;
	}
}